extends ../_layouts/_layouts.pug

block head
	-var title = "projectname";
	-var author = "leff";
	-var description = "Website";
	-var thcolor = "#000";

block content
	include ../_sections/_header.pug

	include ../_mixins/_navbar-mix.pug
