*, *::before, *::after
	outline: inherit

::placeholder
	transition: all 0.25s ease

::selection
	background-color: $accent
	color: $main
	
label, input
	display: block
	width: 100%
label

legend
	text-align: center
input
	padding: 4px 6px
input.error
	border: 1px solid red
input.valid
	border: 1px solid green
label.error
	color: red
