block head

doctype html
html(lang='ru')
	head
		meta(charset='UTF-8')
		//- base(href='#')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		
		title #{title}
		meta(name='author', content='' + author)
		meta(name='description', content='' + description)

		link(rel='icon', href='img/favicon/favicon.ico')
		link(rel='apple-touch-icon', sizes='180x180', href='img/favicon/fapple-touch-icon-180x180.png')
		meta(name='theme-color', content='' + thcolor)
		//- link(rel="canonical", href="#")
		
		link(rel='stylesheet', href='css/main.min.css')
		link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.8.2/css/all.css', integrity='sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay', crossorigin='anonymous')

	body

		block content	

		script(src='js/scripts.min.js')
